[Unit]
Description=Waydroid Magisk Daemon

[Service]
Environment=WMAGISKD_SERVICE=1
ExecStart=/usr/bin/waydroid_magisk_daemon
Restart=always

[Install]
WantedBy=multi-user.target